html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.ball {
    left: 200px;
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    border-radius: 50px;
}